@model IEnumerable<AgendamentoDeTarefas.Models.Entites.Tarefa>

@{
    ViewData["Title"] = "Todas as tarefas";

}
<h2>Minhas Tarefas</h2>

<div>
    <p>
        <a asp-action="CriarTarefa">Criar nova Tarefa</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Status)
                </td>
                <td>
                    <a asp-action="EditarTarefa" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>